//- head-slider
.head__slider
  - var slideItems =[ {title: 'Пожаротушение',img: 'img/slide-1.jpg',text: 'Первое полустишие нивелирует метаязык. Диалектический характер просветляет экзистенциальный стиль. Заимствование текуче.'}, {title: 'Автоматизация систем управления',img: 'img/slide-2.jpg',text: 'Аллитерация аллитерирует хорей, но не рифмами. Дольник точно аллитерирует симулякр'},  {title: 'Видеонаблюдение',img: 'img/slide-3.jpg',text: 'Стилистическая игра нивелирует не-текст. Вопрос о популярности произведений того или иного'},]

  each item in slideItems
    .head__slider-item( style='background: url('+item.img+') center / cover no-repeat border-box;')
      .head__slider-info
        .head__slider-title=item.title
        .head__slider-text-wrap
          .head__slider-text=item.text
          .head__slider-buttons
            a(href="#").btn.btn-accent.head__slider-btn  консультация
            a(href="#").btn.btn-inverse.head__slider-btn подробнее

    