//- head-slider
.head__slider
  //- .head__slider-i
  //-   img(src="img/slide-1.jpg", alt="")
  //- .head__slider-i
  //-   img(src="img/slide-2.jpg", alt="")
  div(style="background: url('img/slide-1.jpg');").head__slider-item
    .head__slider-description
      .head__slider-title Пожарная сигнализация 
      .head__slider-text-wrap
        p.head__slider-text Инвестиция отталкивает принцип восприятия. Выставочный стенд, как принято считать, обычно правомочен. Искусство медиапланирования конструктивно. 
        .head__slider-buttons
          a(href="#").btn.btn-accent.head__slider-btn  консультация
          a(href="#").btn.btn-inverse.head__slider-btn подробнее
    
  div(style="background: url('img/slide-2.jpg');").head__slider-item
    .head__slider-description
      .head__slider-title Автоматизация систем управления 
      .head__slider-text-wrap
        p.head__slider-text Выставочный стенд, как принято считать, обычно правомочен. Искусство медиапланирования конструктивно. Инвестиция отталкивает принцип восприятия.
        .head__slider-buttons
          a(href="#").btn.btn-accent.head__slider-btn заказать осмотр	
          a(href="#").btn.btn-inverse.head__slider-btn подробнее
