@import "vars"
@import "fonts"
@import "libs" 

.cl123
  background-color: gray

/* common */

*
  box-sizing: border-box
html
  font-size: 16px

body
  margin: 0
  padding: 0
  color: $color-text
  font-family: 'ProximaNova', 'Verdana', sans-serif
/* typographi */
address
  font-style: normal
//buttons 
.btn
  display: inline-block
  text-transform: uppercase
  border-radius: 5px
  font-size: .85rem
  text-decoration: none
  cursor: pointer
  &:hover
    text-decoration: none
  &-accent
    background-color: $accent
    padding: 10px 15px
    color: $color-text
  &-inverse
    border: 2px solid $light
    padding: 8px 15px
    color: $light
header
  position: relative   
// .btn
//   display: inline-block
//   text-transform: uppercase
//   color: $color-text
//   font-size: .9rem
//   outline: none
//   text-decoration: none
//   box-sizing: border-box
//   &-accent, &-inverse
//     border-radius: 5px
//     transition: all 0.3s ease-in-out
//   &-accent
//     background-color: $accent
//     padding: 10px 25px
//     &:hover
//       text-decoration: none
//       background-color: darken($accent, 10% )
//       color: lighten($accent, 25% )
//       box-shadow: 0 0 10px rgba($light, .3 )
//   &-inverse
//     color: $light
//     padding: 11px 23px
//     border: 2px $light solid
//     background: transparent
//     &:hover
//       text-decoration: none
//       color: $light
//       // color: darken( $light, 15%)
//       box-shadow: 0 0 10px rgba($light, .65 )
//       text-shadow: 0 0 3px $light

/*icon font*/

[class^="icon-"]:before, [class*=" icon-"]:before 
  font-family: "fontello"
  font-style: normal
  font-weight: normal
  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  

.icon
  width: 25px
  height: 25px
  font-size: 25px
  color: $accent
.icon-phone:before
  content: '\e800'
.icon-map-pin:before
  content: '\e801'
.icon-email:before
  content: '\e802'
.icon-next:before
  content: '\e803'
.icon-prev:before
  content: '\e804'


 
/*header*/
.header
  min-height: 100vh

@import "../blocks/head-slider/_head-slider" 

.top-line
  min-height: 50px
  background-color: rgba(#000, 0.3)
  display: flex
  align-items: center

@import "../blocks/top-info/_top-info" 

.top-nav
  background-color: #fff
  padding: 10px 0
  position: relative
  border-bottom: 3px lighten($color-text, 20% ) solid
  
  &__logo
    img
      width: 95px
      height: auto
  &__company-name
    margin-left: 15px
    font-weight: bold
    font-size: 1.56rem
    span
      display: block
      font-weight: normal
      font-size: .75em
      color: lighten($color-text, 35%)

   
.some
  // style="display: none;"


@import "../blocks/top-nav-menu/top-nav-menu" 				 


@import "media" // Always at the end
