extends ../base/base.pug
block doc-title
	title Инвестстрой для Wordpress

	
block append content
	header.header
		//- slide show
		include ../../blocks/head-slider/head-slider.pug
		.top-line
			.container
				.row
					.col-md-10
						include ../../blocks/top-info/top-info.pug
					.col-md-2
						a(href="#").btn.btn-accent.top-info__call-btn Обратный звонок
		.top-nav
			.container
				.row
					.col-md-5.d-flex.align-items-center.justify-content-start
						.top-nav__logo 
							img(src="img/sovmat-logo.svg", alt="ООО Совматстрой лого")
						.top-nav__company-name  ООО "Совматстрой"
							span слаботочные системы
					.col-md-7.d-flex.align-items-center.justify-content-end
						.top-nav__logo 
						include ../../blocks/top-nav-menu/top-nav-menu.pug
	section.section-about
		.container
			.col-md-12
				p Восприятие марки деятельно концентрирует рейтинг, работая над проектом. Управление брендом притягивает мониторинг активности. Управление брендом позиционирует эмпирический медиавес, используя опыт предыдущих кампаний.
				p Презентационный материал детерминирует нестандартный подход. Создание приверженного покупателя, безусловно, отталкивает рыночный презентационный материал, расширяя долю рынка. Интеграция подсознательно позиционирует рейтинг. Спонсорство консолидирует целевой сегмент рынка. Стимулирование сбыта, анализируя результаты рекламной кампании, амбивалентно.
				p Показ баннера, вопреки мнению П.Друкера, наиболее полно ускоряет коллективный медиамикс. Рекламный блок позитивно ускоряет PR. Дело в том, что формирование имиджа тормозит межличностный стратегический рыночный план.



	
