extends ../base/base.pug
block doc-title
	title ООО "Совматстрой"

	
block append content
	header.header
		//- slide show
		include ../../blocks/head-slider/head-slider.pug
		.top-line
			.container
				.row
					.col-md-10
						include ../../blocks/top-info/top-info.pug
					.col-md-2
						a(href="#").btn.btn-accent.top-info__call-btn Обратный звонок
		.top-nav
			.container
				.row
					.col-md-5.d-flex.align-items-center.justify-content-start
						.top-nav__logo 
							img(src="img/sovmat-logo.svg", alt="ООО Совматстрой лого")
						.top-nav__company-name  ООО "Совматстрой"
							span слаботочные системы
					.col-md-7.d-flex.align-items-center.justify-content-end
						.top-nav__logo 
						include ../../blocks/top-nav-menu/top-nav-menu.pug
	section.section-about
		include ../../blocks/about/about.pug
	section.section-services
		include ../../blocks/services/services.pug
	section.section-partners.bg-gray
		include ../../blocks/partners/partners.pug
	section.section-testimonials
	section.section-contacts
	footer.footer.bg-gray
		.footer__top
			.container
				.row
					.col-md-3.col-sm-6
						.footer__logo
							img(src="img/sovmat-logo.svg" alt="логотип")
							span.footer__logo-name ООО "Совматстрой"
							p.footer__text Организация пожарной, охранной сигнализации, видеонаблюдения, пожаротушения, автоматизация процессов
					.col-md-3.col-sm-6
						h3.footer__title Адреса
						.footer__infoblock.infoblock
							.infoblock__icon
								i.icon.icon-map-pin
							.infoblock__text г. Барановичи, ул. Смоленская, 2а, офис 6
						.footer__infoblock.infoblock
							.infoblock__icon
								i.icon.icon-map-pin
							.infoblock__text г. Брест, ул. Героев обороны Брестской крепости, д. 15, офис 123
						h3.footer__title Время работы
						.footer__infoblock.infoblock
							.infoblock__icon
								i.icon.icon-work-time
							.infoblock__text пн-пт 8:00 - 17:00 сб, вс выходной


					.col-md-3.col-sm-6
						h3.footer__title Услуги
						nav.footer__service-list.service-list
							ul.service-list__list
								li.service-list__item
									a(href="#").service-list__link Пожарная сигнализация
								li.service-list__item
									a(href="#").service-list__link  Охранная сигнализация
								li.service-list__item
									a(href="#").service-list__link  Видеонаблюдение
								li.service-list__item
									a(href="#").service-list__link  Проектирование
								li.service-list__item
									a(href="#").service-list__link  Пожаротушение
								li.service-list__item
									a(href="#").service-list__link  Автоматизация производ ственных процессов
					.col-md-3.col-sm-6
						h3.footer__title Контакты
						.footer__infoblock.infoblock
							.infoblock__icon
								i.icon.icon-phone
							.infoblock__text +375-29-999999999
								small г. Барановичи
						.footer__infoblock.infoblock
							.infoblock__icon
								i.icon.icon-phone
							.infoblock__text +375-29-999999999
								small г. Брест
						a(href="#").btn.btn-accent Обратный звонок
	.footer__bottom
		.container
			.row
				.col-md-12
					.footer__bottom-copyright &copy; ООО "Совматстрой" 2008-2020 
		




	
