div.top-line__info
  .city-selector
    .btn.btn-inverse.city-selector__checked Барановичи
    ul.city-selector__cities
      li(data-value="1").city-selector__city Барановичи
      li(data-value="2").city-selector__city Брест
      
  div(data-value="1").top-line__city.show-city
    address.top-line__info-item
      i.icon.icon-map-pin
      span г. Барановичи, ул. Смоленская, 2а, офис. 6
    address.top-line__info-item
      i.icon.icon-phone
      span +375 29 227 05 08
    address.top-line__info-item
      i.icon.icon-email
      span sovmatsrtoy@tut.by 

  div(data-value="2").top-line__city
    address.top-line__info-item
      i.icon.icon-map-pin
      span г.Брест, пр-т Машерова, 35, оф. 26
    address.top-line__info-item
      i.icon.icon-phone
      span +375 29 800 10 35
    address.top-line__info-item
      i.icon.icon-email
      span a-max@tut.by 